.container {
  overflow: hidden;
}

.wrapper {
  position: relative;
  animation: naik 300ms ease-in-out;

}

@keyframes naik {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0);
  }
}