.container{
  display: flex;
  background-color: #23297F;
  padding: 0 8px;
  border-radius: 4px;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.container:hover {
  background-color: #2A32A8;
  transition: ease 300ms;
}

.textWrapper {
  display: flex;
  overflow: hidden;
}

.textWrapper2 {
  z-index: 2;
  overflow: hidden;
  position: absolute;
}

.box {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease;
}
